.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 800px;
    align-items: center;
    justify-content: center;
    border: 5px solid lightgray;
    background-color: rgb(204, 212, 223);
  }
    div .container{ 
        width: 200px;
        padding: 5px;
        margin: 10px;
        align-items: center;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        
  
    }
    #titlee{
        text-align: center;
        font-family: 'Times New Roman'; 
        background-color: lavender;
        color: rgb(150, 153, 51);
    }
    .container:hover{border: 2px solid black;
  }
    div #fname{font-weight: bold;}